{
  "extends": "@antfu",
  "ignorePatterns": [
    "*.png",
    "*.svg"
  ],
  "rules": {
    "vue/component-tags-order": [
      "error",
      {
        "order": [
          [
            "template",
            "script"
          ],
          "style"
        ]
      }
    ]
  }
}
